.excel {
  padding: 70px 0 80px;
}

@media screen and (max-width: $tableWidth) {
  .excel {
    padding-top: 56px;
  }
}

@media screen and (max-width: $phoneWidth) {
  .excel {
    padding-top: 40px;
  }
}