.cards {
  overflow: hidden;
  position: relative;
  left: -15px;
  width: calc(100% + 30px);
  padding-bottom: 42px;

  .slick-dots-container {
    overflow: hidden;
    position: absolute;
    bottom: -24px;
    left: 50%;
    display: block;
    width: 42px;
    height: 10px;
    transform: translateX(-50%);
    ul {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      bottom: unset;
      transform: translateX(0);
      transition: all 0.3s;
    }
    li {
      width: 6px;
      height: 6px;
      margin: 0 5px;
      background-color: rgba($success, 0.25);
      border: none;
      border-radius: 50%;
      &.p-small-1,
      &.n-small-1 {
        transform: scale(0.8);
      }
      &.slick-active {
        transform: scale(1.67);
        transform-origin: center;
        background-color: $success;
      }
    }
    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 1.25rem;
      height: 1.25rem;
      padding: 0.3125rem;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: 0;
      background: 0 0;
    }
  }

  .slick-dots li button:before {
    display: none;
  }

  .slick-prev,
  .slick-next {
    overflow: hidden;
    opacity: 0.3;
    position: absolute;
    z-index: 2;
    bottom: -42px;
    width: 48px;
    height: 48px;
    background: url("/assets/img/card/arrow.png") no-repeat center;
    outline: none;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover, &:focus, &:active {
      opacity: 1;
    }
  }

  .slick-prev {
    left: 50%;
    margin-left: -102px;
    transform: rotate(-180deg);
  }

  .slick-next {
    right: 50%;
    margin-right: -108px;
  }
}

.card {
  position: relative;
  z-index: 1;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
  width: 352px !important;
  min-height: 352px;
  padding: 30px;
  margin: 0 15px 30px;
  background: $success-light url("/assets/img/card/dotted.png") no-repeat center;
  border-radius: 8px;
  cursor: pointer;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:before {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 176px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 0 0 8px 8px;
  }

  &:after {
    content: '';
    z-index: -1;
    position: absolute;
    left: 16px;
    bottom: -16px;
    width: calc(100% - 32px);
    height: 100%;
    background: rgba($success-light, 0.3);
    filter: blur(8px);
    border-radius: 8px;
  }

  &:hover, &:active, &:focus {
    .card__title {
      transform: translateY(-10px);
    }
  }

  &--vlines {
    background-image: url("/assets/img/card/vlines.png");
  }

  &--hlines {
    background-image: url("/assets/img/card/hlines.png");
  }

  &--green {
    background-color: $success;

    &:after {
      background: rgba($success, 0.3);
    }
  }

  &--orange {
    background-color: $primary;

    &:after {
      background: rgba($primary, 0.3);
    }
  }
}

.card__title {
  position: relative;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1200px) {
  .card {
    margin: 0 auto 30px;
  }
}

@media screen and (max-width: 992px) {
  .card {
    width: 328px !important;
    height: 328px;
    margin: 0 15px 30px;
  }
}

@media screen and (max-width: 700px) {
  .cards {

  }
  .card {
    margin: 0 auto 30px;
  }
}