$mainFont: 'Open Sans', sans-serif;
$titleFont: 'PT Serif', sans-serif;

$mainColor: #1f2041;
$mainColor75: rgba(31, 32, 65, 0.75);
$mainColor50: rgba(31, 32, 65, 0.5);
$mainColor25: rgba(31, 32, 65, 0.25);
$mainFontSize: 14px;
$mainLineHeight: 22px;

$desktopWidth: 1280px;
$smDesktopWidth: 992px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

$default: #ffffff;
$primary: #ee7e4a;
$success: #009688;
$success-light: #5ecabf;
$success-very-light: #e6f5f4;
